body{
    background-image: url("../assets/vivid-blurred-colorful-background.jpg");
    
}

.container-navbar{
    display: flex;
    justify-content: space-between;
}

.login-button {
    position: absolute;
    top: 10px;
    right: 10px;
}
.welcome-section {
    text-align: center;
    margin-top: 20vh;
    margin-bottom: 20vh;

}

#errorMessage{
    text-align: center;
    color: red;
    font-size: x-large;
}

.responseMessage{
    text-align: center;
}

 